/********************************************************************* CSS VARIABLES *********************************************************************/ 

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {

  --main-bg-color : #FFFFFF;
  --secondary-bg-color : black;
  --third-color : #E23D3D  ;
  --box-shadow: #e1e1e1 0px 1px 0px, #e1e1e1 0px 2px 8px, #e1e1e1 0px 4px 8px;
  --font-title : "Lato", sans-serif;
  --font-text : "Lato", sans-serif;
  --degrade1: linear-gradient(111deg, #ec2024 , #fed500 87%);
  --degrade2: linear-gradient(111deg, #2a2b6a, #0b7b3e 87%);
}


/********************************************************************* BASIC CSS *********************************************************************/ 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  font-family: var(--font-text);
}

h1, h2 {
  font-family: var(--font-title);
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
h3 {
  font-family: var(--font-title);
  font-size: 2rem;
  padding: 20px 0;
  text-transform: uppercase;
}

a {
  color: initial;
  text-decoration: none;
  font-weight: initial;
}

li {
  list-style: none;
}

.no_button {
  background-color: transparent;
  border: none;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.container {
  position: relative;
}

.button_style {
  border: none;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  border-radius: 0.75rem;
  font-weight: bold;
}

.margin1r0 {
  margin: 1rem 0;
}
.margin0r1r {
  margin: 0 1rem;
}

.mobile  {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}


.messagedefilant {
  display: block;
  margin: 0 auto;
  padding: 1.75rem 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: fit-content;
}

.messagedefilant, .messagedefilant * {
  background: var(--degrade2);
  color: white;
  font-size: 1.1rem; 
  z-index: 5;
}
 
.messagedefilant div {
  position: absolute;
  top:0.75rem;
  min-width: 100%; /* au minimum la largeur du conteneur */
}
 
.messagedefilant div span, 
.messagedefilant div:after {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  top:0;
  margin: 0 5rem;
} 


 
.messagedefilant div span {
  animation: defilement 15s infinite linear;
  background:inherit;
}
 
.messagedefilant div:after {
  position: absolute;
  top:0; left:0;
  content:attr(data-text);
  animation: defilement2 15s infinite linear;
  background: inherit;
}
 
@keyframes defilement {
  0% { margin-left: 0; }
  100% { margin-left: -100%; }
}
 
@keyframes defilement2 {
  0% { margin-left: 100%; }
  100% { margin-left: 0%; }
}

/************************** TEST ******************/
.messagedefilant div span {
  animation: defilement 30s infinite linear;
  background:transparent;
}
 
.messagedefilant div:after {
  position: absolute;
  top:0; left:0;
  content:attr(data-text);
  animation: defilement2 30s infinite linear;
  background: transparent;
}
.messagedefilant {
  display: block;
  margin: 0 auto;
  padding: 1.5rem 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: fit-content;
}

.messagedefilant div {
  position: absolute;
  top:0.75rem;
  min-width: 100%; /* au minimum la largeur du conteneur */
} 
 
.bandeau {
  position: fixed;
  background-color: var(--button-color);
  bottom: 0.25rem;
  left: 0.25rem;
  width: 35%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding:  1rem;
  z-index: 999;
  animation: appear 2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.bandeau div {
  display: flex;
  width: 100%;
}
.bandeau h2 {
text-align: left;
font-size: 1rem;
margin: 0;
padding: 0.8rem 0;
width: 100%;
}
.bandeau p {
  font-size: 0.85rem;
  margin: 0 0 0.5rem;
}
.bandeau button { margin-right: 0.5rem;}
@keyframes appear {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
.bandeau .button_style {

  margin: 1rem;
}

.mobile {
  display: none;
}
/********************************************************************* HEADER *********************************************************************/ 
.header {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: transparent;
}

.header .navbar, .navbar * {
  background-color: transparent;
}

.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar div.navigation > * {
  font-size: 1.1rem;
  font-weight: bolder;
  margin: 0 10px;
  text-transform: uppercase;
  color: var(--main-bg-color);
}
.navbar div img {
  height: 40px;
  width: 40px;
  margin: 0 7px;
}

.navbar .logo {
  height: 50px;
  width: auto;
}
/********************************************************************* HOME *********************************************************************/ 
.home_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.home_main .home_top {
  width: 100%;
  position: relative;
}
.home_main video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.home_top div.home_top_content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--main-bg-color);
  z-index: 2;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding-left: 200px;
}

.home_top div img {
  width: 75%;
}
.home_top div h1 {
  font-size: 2rem;
  margin-top: 20px;
  color: lightgray;
  width: 100%;
}
.home_top div * {
  background-color: transparent;
}

.home_top .veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 40%;
  background-color: black;
  z-index: 1 ;
}

.CTA_container {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 20px;width: 100%;
}
.CTA_container a {
  margin: 10px 0px  0 20px;
}

.CTA_container button{
  background-color: var(--third-color);
  border-radius: 1rem;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid red 3px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CTA_container a:last-of-type button{
  background-color: transparent;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white 3px;
  color: white;
}

.CTA_container .fleche  {
  height: 1.2rem;
  width: 1.2rem;
  object-fit: contain;
  margin-left: 10px;
}

.home_presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
}

.home_presentation > img {
  width: 60%;
  padding: 0 50px;
}

.home_presentation div  {
width: 80%;
}
  .home_presentation div p {
  margin-bottom: 20px;
  width: 100%;
}

.home_missions {
  padding: 0px 150px 50px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home_missions h2 {
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}

.home_missions > div * {
  background-color: transparent;
  color: white;
}

.home_missions > div {
  background-color: transparent;
  background-color: var(--secondary-bg-color);
  border-radius: 2rem;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.home_missions > div > div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  padding:30px;
  background-color: transparent;
}

.home_missions img {
  width: 65px;
  height: 65px;
  object-fit: contain;
  margin: 10px 0 0;
}

.home_missions h5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 30px 0 15px;
  width: 100%;
  text-align: left;
}

.home_missions p {
  font-size: 1rem;
  width: 85%;
  text-align: left;
}

.home_missions a {
  color: var(--third-color);
  font-size: 0.85rem;
  padding: 15px 0;
}